/* === File Imports === */
@import "./reset.css";
@import "./HomePage/HomePage.scss";
@import "./shared.scss";

/* === Font Imports === */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* === CSS Variables ===*/
:root{
  --text:black;
  --accenttext: #fff;
  --accent1: #333;
  --accent2: #555;
  --color1: #fedd00;
  --color1op: rgba(254, 221, 0, .5);
  --color2: #aae1d7;
  --color2op: rgba(170, 225, 215, .5);
  --title: 'Montserrat';
  --body: 'Open Sans';
}

/* === Global Styling === */
body, body * {
  display: flex;
  flex: 0;
  flex-direction: column;
  font-family: var(--body);
  font-size: 16px;
  line-height: 1.2;
  color: var(--text);
}

script{
  display: none;
}

spacer{
  flex: 1;
}

a{
  color: var(--text);
  text-decoration: none;
}